*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}

nav{
	max-width: 100%;
	margin: auto;
	background-color: #333;
	font-size: 20px;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: red;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black; /* Le da color en lista plegable */
}

.menu-vertical li a{ /* Lista plegable */
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

section {
    width: 100%;
    display: inline-block;
    background: #464646; /* Color del fondo seccion proyecto */
    text-align: center; /* Texto centrado */
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
	color: white; /* Color del texto */
}
  
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}
  
.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 20px;
    margin: 0;
}
  /* Footer links */
  
.footer-distributed p.footer-links {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}
  
.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }

.textos {
    height: 67.2vh;
    background: #464646;
    color: white;
    font-size: 20px;
    text-align: center;
}